* {
  line-height: 1.25rem;
  margin: 0 auto;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    -225deg,
    #5d9fff 0%,
    #b8dcff 48%,
    #6bbbff 100%
  );
}
.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 700px;
  padding: 30px;
  border-radius: 25px;
  background-image: url("../img/day-background2.png");
  opacity: 0.9;
  box-shadow: 1px 1px 5px 1px #333339;
}
header {
  display: block;
  margin: 0 auto;